<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Prediction</title>
</head>
<body>
    <h1>Weather Prediction </h1>
    <form methods="POST" action="/predict">
        <label>CITY NAME</label><br><br>
        <input type="text" name="tavg"><br><br>

        <input type="submit" name="Predict"><br><br>
    </form>
</body>
</html>